:root {
    --background-image-top: 0px;
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(fonts/Roboto-Light.ttf);
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0px;
}

body {
    background-color: darkblue;
    /* background-image: url('images/background5.png'); */
    /* background-repeat: no-repeat; */
    /* background-position: center var(--background-image-top); */
    font-family: "Roboto-Thin";
}

#header-container {
    display: flex;
    margin: auto;
    position: relative;
    width: 100%;
    height: 5%;
    /* border-width: 1px;
    border-color: #e94174;
    border-style: dashed; */
    /* background-color: cornflowerblue; */
    background-color: #212121;
}

/* #time-stamp {
    position: absolute;
    width: 500px;
    height:40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
} */

/* #raon-box {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 133px;
    z-index: 100;
} */

/* .raonLogo {
    fill: #fff;
} */

/* #accelerator-control {
    position: absolute;
    color: white;
    width: 150px;
    left: 160px;
    top: 40px;
    font-family: "Roboto-Light";
    letter-spacing: 2px;
    z-index: 100;
} */


#widget-menu {
    display: flex;
    position: absolute;
    right: 5%;
    width: 50%;
    height: 100%;
    background-color: darkgoldenrod;
}

.wdigetItemContainer {
    width: 80px;
    height: 100%;
    background-color: #e94174;
}

.wdigetItemContainer input {
    display: none;
    /* opacity: 0; */
}

.wdigetItemContainer input:checked+.widgetSelectButton .widget {
    fill: #fff;
}

.wdigetItemContainer:hover input+.widgetSelectButton .widget {
    stroke: blue;
}

.widgetSelectButton {
    display: block;
    width: 80px;
    height: 100%;
    cursor: pointer;
}


#body-box {
    display: flex;
    width: 100%;
    height: 90%;
    margin: auto;
    /* border-style: dotted; */
    /* border-color: red; */
    background-color: #121212;
}

#page-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    margin: auto;
    background-color: #121212;
    /* border-width: 1px;
    border-color: #e94174;
    border-style: dashed; */
}

.pageDot {
    width: 15px;
    height: 15px;
    margin: 5px;
    background-color: #b5b5b5;
    border-radius: 50%;
}

.slideButton {
    float: left;
    display: none;
    width: 30px;
    height: 90%;
    font-size: 32px;
    margin: 0px;
    color: #b5b5b5;
    background-color: transparent;
    border: none;
    outline: none;
    float: left;
    /* background-color: #e94174; */
}

#monitoring-body {
    float: left;
    width: 100%;
    height: 100%;
    overflow: scroll;
    /* border-style: dotted; */
    /* border-color: greenyellow; */
    background-origin: #121212;
}

.monitoringContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    /* margin-left: 20px; */
    /* margin-top: 20px; */
    /* background-color: #e94174; */
    /* border-width: 1px;
    border-color: #e94174;
    border-style: dashed; */
}

.size1by1 {
    position: relative;
    float: left;
    aspect-ratio: 1/1;
    /* width:260px; */
    /* height:260px; */
    /* margin:18px; */
    /* border-width: 0px; */
    /* border-color: white; */
    /* border-style: dashed; */
    border-radius: 8px;
    box-shadow: 7px 7px 5px;
    z-index: 200;
    background-color: #212121;
}

.size2by1 {
    position: relative;
    float: left;
    aspect-ratio: 2/1;
    /* width: 560px; */
    /* height: 260px; */
    /* margin: 18px; */
    /* border-width: 0px; */
    /* border-color: white; */
    /* border-style: dashed; */
    border-radius: 8px;
    box-shadow: 7px 7px 5px;
    z-index: 200;
    background-color: #212121;
}


.subChildContainer1 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

.subChildContainer2 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: brown; */
}

/* .slide-page {
    width: 1840px;
    height: 960px;
} */

#createButton {
    /* visibility: hidden; */
}

.deleteButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -1.2vh;
    top: -1.2vh;
    height: 14%;
    aspect-ratio: 1/1;
    /* background-color: transparent; */
    border: none;
    /* outline: none; */
    border-radius: 50%;
    z-index: 100;
    background-color: #e60012;
}

.deleteButtonText {
    width: 70%;
    height: 10%;
    background-color: #ffffff;
}

@keyframes animatefadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #monitoring-body {
        padding: 2%;
    }

    .size1by1 {
        width: 46%;
        margin: 2%;
        font-size: 10vw;
    }

    .size2by1 {
        width: 96%;
        margin: 2%;
        font-size: 10vw;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #monitoring-body {
        padding: 1.56%;
    }

    .size1by1 {
        width: 30.2%;
        margin: 1.56%;
        font-size: 10vw;
    }

    .size2by1 {
        width: 96.84%;
        margin: 1.56%;
        font-size: 10vw;
        aspect-ratio: 3/1;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
    #monitoring-body {
        padding: 1%;
    }

    .size1by1 {
        width: 23%;
        margin: 1%;
        font-size: 5vw;
    }

    .size2by1 {
        width: 48%;
        margin: 1%;
        font-size: 5vw;
        aspect-ratio: 2/1;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
    #monitoring-body {
        padding: 20px;
    }

    .size1by1 {
        width: 260px;
        margin: 20px;
        font-size: 32px;
    }

    .size2by1 {
        width: 560px;
        height: 260px;
        margin: 20px;      
    }

    /* #header-container {
        height: 5%;
    } */

    .slideButton {
        display: block;
    }

}