:root {
    --background-image-top: 0px;
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(fonts/Roboto-Light.ttf);
}

body {
    margin: 0px;
    background-color: black;
    background-image: url('images/background5.png');
    background-repeat: no-repeat;
    background-position: center var(--background-image-top);
    font-family: "Roboto-Thin";
    overflow: hidden;
}

#time-stamp {
    position: absolute;
    width: 500px;
    height:40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
}

#raon-box {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 133px;
    z-index: 100;
}

.raonLogo {
    fill: #fff;
}

#accelerator-control {
    position: absolute;
    color: white;
    width: 150px;
    left: 160px;
    top: 40px;
    font-family: "Roboto-Light";
    letter-spacing: 2px;
    z-index: 100;
}

.body-box {
    width: 1920px;
    height: 980px;
    margin: auto;
    /* border-style: dotted; */
    /* border-color: red; */
}

.slideButton {
    width: 40px;
    height: 980px;
    font-size: 32px;
    margin: 0px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    float: left;
    /* border-style: dotted; */
    /* border-color: red; */
}

.monitoringBody {
    width: 1840px;
    height: 980px;
    float: left;
    /* border-style: dotted; */
    /* border-color: greenyellow; */
}

.monitoringContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 1800px;
    height: 960px;
    margin: 20px;

    /* border-width: 2px;
    border-color: red;
    border-style: dashed; */
}

.size1by1 {
    position: relative;
    width:260px;
    height:260px;
    margin:18px;
    border-width: 0px;
    border-color: white;
    border-style: dashed;
    z-index: 200;
    background-color: rgba(26,26,26,0.3);    
}

.size2by1 {
    position: relative;
    width:560px;
    height:260px;
    margin:18px;
    border-width: 0px;
    border-color: white;
    border-style: dashed;
    z-index: 200;
    background-color: rgba(26,26,26,0.3);    
}


.subChildContainer1 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

.subChildContainer2 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: brown; */
}

.slide-page {
    width: 1840px;
    height: 980px;
    /* border-style: dotted; */
    /* border-color: blue; */
}

#createButton {
    visibility: hidden;
}

.deleteButton {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 32px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 100;
    background-color: brown;
}


@keyframes animatefadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

#widget-menu {
    display: flex;
    position: absolute;
    left: 500px;
    width: 700px;
    height: 80px;
    background-color:darkgoldenrod;
}

.wdigetItemContainer {
    width: 80px;
    height: 80px;
    background-color: #e94174;
}

.wdigetItemContainer input{
    display: none;
    /* opacity: 0; */
}

.wdigetItemContainer input:checked+.widgetSelectButton .widget {
    fill: #fff;
}

.wdigetItemContainer:hover input+.widgetSelectButton .widget {
    stroke: blue;
}

.widgetSelectButton {
    display: block;
    width: 80px;
    height: 80px;
    cursor: pointer;
}