    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: #42586A;
    }

    .custom-radio-button__container input[type="radio"] {
        display: none;
    }

    .custom-radio-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px 5px 25px;
        border: 2px solid #979797;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;
    }

    .svg-designer {
        fill: #979797;
    }

    .svg-developer {
        fill: #979797;
    }


    .custom-radio-button__container input[type="radio"]:checked+.custom-radio-button {
        border: 2px solid #e94174;
    }

    .custom-radio-button__container input[type="radio"]:checked+.custom-radio-button h3 {
        color: #e94174;
    }

    .custom-radio-button__container input[type="radio"]:checked+.custom-radio-button .svg-designer {
        fill: #e94174;
    }

    .custom-radio-button__container input[type="radio"]:checked+.custom-radio-button .svg-developer {
        fill: #e94174;
    }

    #widgetContainer {
      width: 100px;
      height:100px;
      background-color: #979797;
    }