
#widget-type1-1-properties-container {
    display: none;
    width: 100%; 
    height:100%; 
    z-index: 200; 
    position:fixed; 
    align-items: center;
    justify-content: center;
    left:0px; 
    top:0px;
}

#widget-type1-1-properties-form {
    position: relative;
    max-width: 500px;
    width: 80%; 
    height: 80%; 
    background-color: #424242; 
    border-radius: 10px;
    padding: 20px;
}

.widgetProperties {
    display: flex;
    width: 90%;
    margin: 5%;
    font-size: 2vh;
}

.widgetPropertiesLabel {
    display: flex;
    align-items: center;
    width: 40%;
    float: left;
    color: #ffffff;
}

.widgetPropertiesInput {
    width: 60%;
    float: left;
    font-size: 2vh;
}

.widgetPropertiesRadio {
    color: #ffffff;
}

.widgetPropertiesRadio label{
    margin-left: 10px;
}

.widgetCreateButton {
    width: 100%;
    height: 50px;
    color: #ffffff;
    margin: auto;
    margin-top: 2vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #04AA6D;
    font-size: 2vh;
}

.widgetTitle {
    /* position: relative; */
    width: 100%;
    height: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b5b5b5;
    font-size: 40%;
    text-align: center;
    /* line-height: 48px; */
}
.widgetValueContainer {

}

.widgetValue {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    /* height: 220px; */
    color: #f7f8f8f8;
    font-size: 2em;
    text-align: center;
    /* line-height: 240px; */
    /* top: 125px; */
    overflow: hidden;
    text-overflow: clip; 
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .widgetValue {
        font-size: 1em;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #logo-container {
        display: block;
    }

    #monitoring-body {
        padding: 1.56%;
    }

    .size1by1 {
        width: 30.2%;
        margin: 1.56%;
        font-size: 10vw;
    }

    .size2by1 {
        width: 96.84%;
        margin: 1.56%;
        font-size: 10vw;
        aspect-ratio: 3/1;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
    #logo-container {
        display: block;
    }

    #monitoring-body {
        padding: 1%;
    }

    .size1by1 {
        width: 23%;
        margin: 1%;
        font-size: 5vw;
    }

    .size2by1 {
        width: 48%;
        margin: 1%;
        font-size: 5vw;
        aspect-ratio: 2/1;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
    #logo-container {
        display: block;
    }

    #monitoring-body {
        padding: 20px;
    }

    .size1by1 {
        width: 260px;
        margin: 20px;
        font-size: 32px;
    }

    .size2by1 {
        width: 560px;
        height: 260px;
        margin: 20px;      
    }

    /* #header-container {
        height: 5%;
    } */

    .slideButton {
        display: block;
    }

}